* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #d6d6d6;
}
html::-webkit-scrollbar-thumb {
  background: #505050;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.2);
}

body {
  position: relative;
}

input::-webkit-inner-spin-button {
  opacity: 1;
}

body {
  font-family: "Carter One", cursive;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #252525;
}

h3 {
  font-size: 1.1rem;
  font-weight: 800;
  color: #880e4b;
  margin-bottom: 8px;
}

span {
  font-size: 0.9rem;
}

.wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #252525;
  overflow: hidden;
}

.flex-form {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 600px;
}

.settings-sidebar {
  position: fixed;
  top: calc(-18rem - 16px);
  left: 0;
  right: 0;
  height: 18rem;
  border-radius: 16px;
  margin: 8px;
  padding: 8px;
  background-color: #ffffffc7;
  box-shadow: 1px 1px 8px rgba(41, 41, 41, 0.1);
  transition: 0.3s ease-in-out;
  z-index: 100;
  overflow: auto;
  -ms-overflow-style: none;
  /* IE 11 */
  scrollbar-width: none;
  /* Firefox 64 */
}
.settings-sidebar::-webkit-scrollbar {
  transform: translateY(50px);
  height: 0.2rem;
}
.settings-sidebar::-webkit-scrollbar-track {
  display: none;
  opacity: 0;
  background: #d6d6d6;
}
.settings-sidebar::-webkit-scrollbar-thumb {
  opacity: 0;
  background: #505050;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.2);
}
.settings-sidebar__section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  min-width: 120px;
}
.settings-sidebar input[type=range] {
  width: 95%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 1px;
  margin-top: 12px;
  margin-bottom: 16px;
  background-color: #505050;
  /* SLIDER THUMB */
  /* SLIDER THUMB MOZILLA*/
}
.settings-sidebar input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 15px;
  height: 15px;
  background: #880e4b;
  border-radius: 15px;
  transform: scale(0.9);
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.settings-sidebar input[type=range]::-webkit-slider-thumb:hover {
  transform: scale(1);
  opacity: 0.95;
}
.settings-sidebar input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
       appearance: none;
  width: 15px;
  height: 15px;
  background: #880e4b;
  border-radius: 15px;
  transform: scale(0.9);
  cursor: pointer;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.settings-sidebar input[type=range]::-moz-range-thumb:hover {
  transform: scale(1);
  opacity: 0.95;
}
.settings-sidebar .color-input {
  padding: 0;
  background-color: transparent;
  height: 24px;
  width: 40%;
}

.settings-btn {
  position: fixed;
  top: 8px;
  left: 8px;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  border-radius: 50%;
  background-color: #ffffffc7;
  color: #880e4b;
  font-size: 1.8rem;
  transition: 0.3s ease-in-out;
  z-index: 100;
}

.settings-sidebar.active {
  top: 0px;
}

.settings-sidebar.active ~ .settings-btn {
  top: calc(18rem + 16px);
}

.bubble {
  position: absolute;
  top: 100%;
  left: 50%;
  width: var(--size);
  height: var(--size);
  border-radius: 300px;
  background-color: red;
  filter: hue-rotate(var(--hueRotate));
  opacity: 1;
  -webkit-animation: anim var(--animationTime) ease-in-out forwards;
          animation: anim var(--animationTime) ease-in-out forwards;
}

@-webkit-keyframes anim {
  100% {
    top: var(--topPos);
    left: var(--leftPos);
    width: 0;
    height: 0;
  }
}

@keyframes anim {
  100% {
    top: var(--topPos);
    left: var(--leftPos);
    width: 0;
    height: 0;
  }
}
#speed-1,
#speed-2,
#speed-3,
#speed-4 {
  direction: rtl;
}
