// -- Colors --

$white: #FFFFFF;
$greyLight: #d6d6d6;
$greyMedium: #505050;
$greyDark: #252525;
$black: #000000;

$primaryColor: #880e4b;

$sidebarBackground: #ffffffc7;

// Responsive BreakPoints

$large: 1200px;
$medium: 900px;
$small: 600px;

// Other

$sidebarHeight: 18rem;